.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: calc(100vh - 2em);
  padding: 1em;

  &__header {
    text-align: center;
    width: 100%;

    &__title {
      a {
        cursor: pointer;
      }
    }
  }

  &__body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  &__footer {
    font-size: 0.8rem;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
