.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: calc(100vh - 2em);
  padding: 1em;

  &__header {
    text-align: center;
    width: 100%;

    &__title {
      a {
        cursor: pointer;
      }
    }
  }

  &__body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4em;
  }

  &__footer {
    font-size: .8rem;
  }
}
