.Simulator {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 600px;
  height: 450px;
  max-height: 90%;
  min-height: 10em;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 0px 8px 50px 5px rgba(128, 128, 128, 0.3);

  &__header {
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__users {
    overflow: auto;
    padding: 1em 0.5em;
    height: 18px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;

    &__empty {
      text-align: center;
    }

    &__online {
      margin-right: 10px;
      padding: 0.5em;
      border-radius: 10px;
      background-color: rgba(211, 211, 211, 0.3)
    }
  }

  &__history {
    flex: 1;
    overflow: auto;
    text-align: left;
    margin: 0.5em;
    font-size: 0.9rem;

    div {
      margin-bottom: 1rem;
    }

    &__message {
      span {
        font-weight: bold;
      }

      p {
        span {
          color: #5af78d;
        }
      }
    }

    &__connect {
      text-align: center;
      font-size: 0.8rem;

      &__message {
        span {
          margin: 0px 5px;

          &:first-of-type {
            font-weight: bold;
          }

          &:last-of-type {
            color: red;
          }
        }
      }
    }

    &__disconnect {
      text-align: center;
      font-size: 0.8rem;

      &__message {
        span {
          margin: 0px 5px;

          &:first-of-type {
            font-weight: bold;
          }

          &:last-of-type {
            color: #36c;
          }
        }
      }
    }

    &__update {
      text-align: center;
      font-size: 0.8rem;

      span {
        margin: 0 5px;
        font-weight: bold;
      }
    }

    &__bottom {
      all: unset;
    }
  }

  &__input {
    padding-top: 0.5em;

    input {
      width: 90%;
      padding: 0.8em;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 0.8rem;
      box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
      transition: all 0.2s;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:active {
        transform: translateY(3px);
        box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.3);
      }
    }
  }
}
